{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next/(.*)$",
    "^@/api/(.*)$",
    "^@/component/(.*)$",
    "^@/components/ui(.*)$",
    "^@/icons/(.*)$",
    "^@/keystatic/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
