{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next/(.*)$",
    "^@/api/(.*)$",
    "^@/component/(.*)$",
    "^@/components/ui(.*)$",
    "^@/constant(.*)$",
    "^@/icons/(.*)$",
    "^@radix-ui/(.*)$",
    "^lucide-react/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
