@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: oklch(0.9906 0.0017 247.84);
    --foreground: oklch(0.9523 0.0103 247.93);
    --primary: oklch(0.1633 0.0021 106.63);
    --secondary: oklch(0.4134 0.0021 67.77);
  }

  .dark {
    --background: oklch(0.3045 0.0035 106.61);
    --foreground: oklch(0.4199 0.0016 106.47);
    --primary: oklch(0.9965 0.0026 106.45);
    --secondary: oklch(0.8106 0.0014 106.43);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-display: var(--font-plus-jakarta-sans);
  --font-body: var(--font-inter);
  --font-hand: var(--font-caveat);
}

@layer base {
  body {
    @apply bg-background text-primary font-body;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--color-background);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-background);
    border-radius: 100vh;
    /* border: 1px solid var(--color-background); */
  }
}
